:root {
    --light-gray-color: #84868d;
    --light-dark-gray-color: rgb(51, 52, 54);
    --dark-gray-color: rgb(40, 41, 42);
    --dark-black-color: #141517;
    --white-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

html {
    background: var(--dark-black-color);
}

body {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

form {
    display: block;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

li {
    list-style: none;
}

.bl_container {
    display: flex;
    align-items: center;
    justify-self: center;
    max-width: 100%;

    margin-top: 50px;
}

.el_search__form {
    width: 337px;
}

.el_icon__search {
    color: var(--light-gray-color);
    margin-right: 8px;
}

.el_icon__clear {
    color: var(--light-gray-color);
    margin-left: 8px;
}

.el_search__label {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(34, 35, 38);
    justify-content: space-between;
    padding: 8px 12px;
    border-radius: 8px;
    overflow: hidden;
}

.el_search__input {
    background: transparent;
    color: var(--white-color);
    padding: 0px;
    border: 0px;
    outline: none;
    margin: 0px;
    appearance: none;
    caret-color: rgb(248, 47, 98);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 20px;
    width: 100%;
}

.bl_list {
    background: var(--dark-gray-color);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 0;
}

.bl_container__item {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.selected {
    background: var(--light-dark-gray-color);
    border-radius: 4px;
    margin: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.unselected {
    background: var(--dark-gray-color);
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hidden {
    display: none;
}
